mat-card{
  max-width: 100%;
}

#divTeam{
  max-width: 100%;
}

#titre{
  display:none;
  text-align: center;
  font-family: Broadway;
  font-size: 5em;
  margin-top: 50px;
  margin-bottom: 50px;
}

#btnTeam{
  margin-top: 10px;
}
