<mat-form-field id="searchPokemon">
  <mat-label>Pokemon</mat-label>
  <input matInput [ngModel]="search" (ngModelChange)="searchPokemon($event)">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<mat-list class="ScrollContainer" infiniteScroll (scrolled)="onScroll()" [scrollWindow]="false">
    <mat-list-item *ngFor="let pokemon of pokemons?.data">
      <img matListAvatar src="/assets/img/sprites/{{pokemon.id}}.png"  alt="...">
      <h3 class="nomPokemon" matLine (click)="idToParent(pokemon.id)"> {{pokemon.id}} . {{pokemon.name}} </h3>
    </mat-list-item>
</mat-list>


