.detail{
  width: auto;
  height: auto;
}

.contenu-detail{
  max-width: 500px;
  max-height: 600px;
}

.img-No{
  max-width: 100%;
  height: auto;
}

#No{
  text-align: center;
}

#play{
  padding: 0px;
  margin:0px;
}





